body {
background: #0F0F0F !important;
color: #FFFFFF !important;
font-family:’Lucida Sans Unicode’;
}

div.container.main > div:nth-child(1) > nav > div.navbar-header > a > img {
content: url('i.ibb.co/bRGh1Pc/logo-full-2.p…);
}


/* width */
::-webkit-scrollbar {
   width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
   background: #0F1619;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #2F3739;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #384144;

}
.col-md-9.col-xs-12 {
background: #1C2A2F !important;
border: 4px double #000000 !important;
border-top: none !important;
border-right: none !important;
border-bottom :none !important;
}

div.container.main {
background: #0F0F0F !important;
border: 4px double #000000 !important;
border-left: none !important;
}
.navbar {
background: #0F1619 !important;
border: 1px solid #000000 !important;
border-bottom: none !important;
border-top: none !important;
border-right: none !important;
box-shadow: none !important;
font-family: ’Lucida Sans Unicode’ ;
}

.navbar li a {
color: #2F3739 !important;
}

.navbar li a:hover {
background: #384144 !important;
}

.breadcrumb {
background: #384144 !important;
color: #FFFFFF !important;
border: 1px solid #000000 !important;
}

.feature {
background: #1C2A2F !important;
color: #FFFFFF !important;
border: 1px solid #000000 !important;
}

.topbar {
background: #1C2A2F !important;
color: #FFFFFF !important;
border: 1px solid #000000 !important;
border-top: none !important;
border-bottom: 4px solid #000000 !important;
}

.sidebar {
background: #0F0F0F !important;
color: #FFFFFF !important;
border: none !important;
}

.panel {
background: #1A1F20 !important;
border: none !important;
box-shadow: none !important;
}

.chat_light {
background: #1C2A2F !important;
color: #FFFFFF !important;
border: none !important;
text-align: center !important;
}

.chat_dark {
background: #1C2A2F !important;
color: #FFFFFF !important;
border: none !important;
text-align: center !important;
}

h1 {
text-align: center !important;
color: #2F3739 !important;
font-family: 'Lucida Sans Unicode' !important;
}

h3 {
text-align: center !important;
color: #2F3739 !important;
font-family: 'Lucida Sans Unicode' !important;
}

.top {
background: #1A1F20 !important;
color: #FFFFFF !important;
border: 1px solid #000000 !important;
text-align: center !important;
font-family: 'Lucida Sans Unicode' !important;
}

th {
background: #1A1F20 !important;
color: #FFFFFF !important;
border: 1px solid #000000 !important;
text-align: center !important;
font-family: 'Lucida Sans Unicode' !important;
}

.bottom {
background: #1A1F20 !important;
color: #FFFFFF !important;
border: 1px solid #000000 !important;
text-align: center !important;
font-family: 'Lucida Sans Unicode' !important;
}

.left {
background: #1A1F20 !important;
color: #FFFFFF !important;
border: 1px solid #000000 !important;
text-align: center !important;
font-family: 'Lucida Sans Unicode' !important;
}

td {
background: #1C2A2F !important;
color: #FFFFFF !important;
border: none !important;
}

.right_cub {
background: #1A1F20 !important;
}

.cave-grid {
background: #2F3739 !important;
color: #FFFFFF !important;
border: 1px solid #000000 !important;
text-align: center !important;
font-family: 'Lucida Sans Unicode' !important;
}

.beetle-grid {
background: #2F3739 !important;
color: #FFFFFF !important;
border: 1px solid #000000 !important;
text-align: center !important;
font-family: 'Lucida Sans Unicode' !important;
}

a:link {
color: #FFFFFF !important;
}

a:visited {
color: #FFFFFF !important;
}

a:hover {
color: #1C2A2F !important;
}

.alert-danger {
background: #401515 !important;
color: #FFFFFF !important;
border: 1px solid #000000 !important;
text-align: center !important;
}

.alert-success {
background: #15402C !important;
color: #FFFFFF !important;
border: 1px solid #000000 !important;
text-align: center !important;
}

.attack-won {
background: #15402C !important;
color: #FFFFFF !important;
border: 1px solid #000000 !important;
text-align: center !important;
}

.attack-lost {
background: #401515 !important;
color: #FFFFFF !important;
border: 1px solid #000000 !important;
text-align: center !important;
}

input[type="button"] {
background: none !important;
color: #FFFFFF !important;
border: 1px solid #000000 !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

input[type="submit"] {
background: none !important;
color: #FFFFFF !important;
border: 1px solid #000000 !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

input[type="text"] {
background: none !important;
color: #FFFFFF !important;
border: 1px solid #000000 !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

input[type="password"] {
background: none !important;
color: #FFFFFF !important;
border: 1px solid #000000 !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

textarea {
background: none !important;
color: #FFFFFF !important;
border: 1px solid #000000 !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

select {
background: none !important;
color: #FFFFFF !important;
border: 1px solid #000000 !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

input[type="button"]:hover {
background: none !important;
color: #FFFFFF !important;
border: 1px solid #000000 !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

input[type="submit"]:hover {
background: none !important;
color: #FFFFFF !important;
border: 1px solid #000000 !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

input[type="text"]:focus {
background: none !important;
color: #FFFFFF !important;
border: 1px solid #000000 !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

input[type="password"]:focus {
background: none !important;
color: #FFFFFF !important;
border: 1px solid #000000 !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

textarea:focus {
background: none !important;
color: #FFFFFF !important;
border: 1px solid #000000 !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

select:focus {
background: none !important;
color: #FFFFFF !important;
border: 1px solid #000000 !important;
text-align: center !important;
text-shadow: none !important;
box-shadow: none !important;
}

.progress {
background: #71797B !important;
border: 1px solid #000000 !important;
}

.progress div {
color: #FFFFFF !important;
}

.progress-bar-warning {
background: #A31621 !important;
}

.progress-bar-danger {
background: #A31621 !important;
}

.progress-bar-success {
background: #A31621 !important;
}

.progress-bar {
background: #A31621 !important;
}
